@charset "UTF-8";
body {
    background-color: powderblue;
}
.container{
  position: relative;
}
.bottomleft {
    position: absolute;
    bottom: -25px;
    left: 40px;
    font-size: 18px;
}
img {

    border-radius: 80px;
    width:150px;
}
